@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background: #1b9ca4;
    color: white;
  }
}

@layer utilities {
  .fade-in {
    animation: 1s ease 2.5s normal forwards 1 fade-in;
    opacity: 0;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in-fast {
    animation: 0.5s ease 0.1s normal forwards 1 fade-in-fast;
    opacity: 0;
  }

  @keyframes fade-in-fast {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in-ltr {
    animation: fade-in-ltr 1s;
  }

  @keyframes fade-in-ltr {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .fade-in-ttb {
    animation: 1s ease 2s normal forwards 1 fade-in-ttb;
    opacity: 0;
  }

  @keyframes fade-in-ttb {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .arrow-draw-in-1 {
    animation: draw-in-1 2s linear;
  }

  @keyframes draw-in-1 {
    0% {
      clip-path: inset(100% 0 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  .arrow-draw-in-2 {
    animation: draw-in-2 1.25s ease-in;
  }

  @keyframes draw-in-2 {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  .arrow-draw-in-3 {
    animation: draw-in-3 1s ease-in;
  }

  @keyframes draw-in-3 {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  .arrow-draw-in-4 {
    animation: draw-in-4 1s ease-in;
  }

  @keyframes draw-in-4 {
    0% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 53%);
    }
    33% {
      clip-path: polygon(72% 29%, 100% 0, 100% 100%, 59% 100%, 64% 66%);
    }

    66% {
      clip-path: polygon(56% 0, 100% 0, 100% 100%, 52% 100%, 54% 38%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 54%);
    }
  }
}
